<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="SodaBasedangw37ConnectionString" connectionString="Data Source=golem.csse.rose-hulman.edu;Initial Catalog=SodaBasedangw37;Persist Security Info=True;User ID=dangw;Password=816Verokevinica" providerName="System.Data.SqlClient" />
    <add name="NA_LCSConnectionString" connectionString="Data Source=golem.csse.rose-hulman.edu;Initial Catalog=NA_LCS;Persist Security Info=True;User ID=dangw;Password=816Verokevinica" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
</configuration>
<!--ProjectGuid: B8F1A8BE-4EF5-4ABA-8372-2A5A077863E4-->